*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    background: #6943FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 50vh;
}

h2{
    margin: 30px 0;
    color: white;
}

input{
    width: 117px;
    height: 75px;
    text-align: center;
    color: white;
    background: #6943FF;
    border: 1px solid #B295FF;
    border-radius: 5px;
    font-size: xx-large;
}

input:focus{
    outline: none;
}


button{
    margin: 30px 0;
    width: 117px;
    height: 30px;
    border-radius: 3px;
    border: none;
}

button:hover{
    cursor: pointer;
}

main{
    background: #1F2937;
    width: 100%;
    height: 70vh;
}

main div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    padding: 20px 0;
    background: #273549;
}

h4{
    margin-bottom: 10px;
    color: #CCC1FF;
}

p{
    color: white;
}

